<form action="" method="post" class="appli-form">
    <p>申办社团</p><input disabled="disabled" value="<?php echo $clubInfo['club_name']; ?>" id="club" type="text">
    <p>活动名称</p><input id="activity_name" type="text">
    <p>活动地点</p><input id="activity_place" type="text">
    <p>活动时间</p><input id="activity_time" type="text">
    <p>面向对象及人数</p><input id="activity_people" type="text">
    <p>是否申请优质社团</p><input id="is_apply_fine" type="text">
    <p>活动简介</p><textarea id="activity_info"></textarea>
    <p>自留经费</p><input disabled="disabled" value="<?php echo $clubInfo['self_money']; ?>"  id="now_self_money" type="text">
    <p>自留经费使用</p><input id="apply_self_money" type="text">
    <p>预留经费</p><input disabled="disabled" value="<?php echo $clubInfo['reserve_money']; ?>" id="now_reserve_money" type="text">
    <p>预留经费使用</p><input id="apply_reserve_money" type="text">
    <button type="button"  id="apply-btn">提交</button>
</form>
<script>
    $("#my-form-club").click(function () {
        $(location).attr('href',"/applyClubForm/getListAllForm");
    }) ;
    $("#apply-btn").click(function () {
        var club = <?php echo $clubInfo['self_money']; ?>;
        var act_name = $("#activity_name").val();
        var act_place = $("#activity_place").val();
        var act_time = $("#activity_time").val();
        var act_people = $("#activity_people").val();
        var is_fine = $("#is_apply_fine").val();
        var act_info = $("#activity_info").val();
        var apply_self_money = $("#apply_self_money").val();
        var apply_reserve_money = $("#apply_reserve_money").val();
        var data={
            "club":club,
            "activityName":act_name,
            "activityPlace":act_place,
            "activityTime":act_time,
            "activityPeople":act_people,
            "isApplyFine":is_fine,
            "activityInfo":act_info,
            "applySelfMoney":apply_self_money,
            "applyReserveMoney":apply_reserve_money
        };
        console.log(data);
        $.ajax({
            type: "POST",
            url: "/applyClubForm/commitClubActivity",
            data: data,
            dataType:"json",
            success: function(data){
                if(data.status==0){
                    alert(data.info);
                }
                else {
                    alert('wrong');
                }
            },
            error: function(data){
                alert('Error');
            }
        });
    }) ;
</script>

