

/* nav */

nav{
  background-color: #404040;
  height: 90px;
  line-height: 90px;
  li{
    margin-right: 70px;
    color:#c1bdba;
  }
  .nav-right{
    li{
      float:right;
    }
    margin-right: 10%;
  }
  .nav-left{
    li{
      float:left;
      margin-right: 70px;
    }
    margin-left: 10%;
  }
  .on{
    color:#FFF;
  }
}

