content{
  color:#5c5a5d;
}
.sub-nav{
  width: 20%;
  float:left;
  .sub-ft{
    background-color:#f7f7f7 ;
  }
  .sub-item{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }
  .on{
    background: #ecf7fd;
    border-right: solid #258ac0 3px;
    box-sizing: border-box;
  }
  .sub-child{
    display: none;
  }
  .sub-item:hover{
    background-color: #ecf7fd;
  }
}
.sub-content{
  width: 80%;
  float:left;
  background-color: #ececec;
  .content-nav{
    margin:20px;
  }
  .content-body{
    background-color: #FFF;
    margin:20px;
    min-height: 400px;
    padding:20px;
  }
}

/* style cover */
#form-manage{
  display:none;
}